/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
	flex-flow: column nowrap;
}
.header-container {
	display: flex;
	background-color: #1f2937;
	align-items: baseline;
	padding-bottom: 50px;

}
.header-logo {
	font-size: 24px;
	color: #f9faf8;
	display: flex;
	justify-content: flex-start;
	margin-left: 120px;

}
nav.header-links {
	margin-left: 1010px;
}
	
.header-links ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	font-size: 18px;
	color: #e5e7eb;
	gap: 20px;
}
.first-section {
	display: flex;
	background-color: #1f2937;
	padding: 80px 80px 80px 120px;
	gap: 30px;
}
.first-section  .hero-text {
	display: flex;
	flex-basis: 600px;
	flex-wrap: wrap;
	height: 300px;
}
.first-section .hero-image {
	display: flex;
	justify-content: center;
	flex: 1;
}
.hero-text  .main-text {
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}
.hero-text  .secondary-text {
	font-size: 18px;
	color: #e5e7eb;
}
.hero-button {
	font-size: 18px;
	font-weight: 800;
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 10px;
	min-width: 150px;
	height: 40px;
	padding: 0;
}
.random-info {
	display: flex;
	flex-direction: column;
}
.info-title {
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	margin-top: 50px;
	margin-bottom: 50px;
}
.info-items {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}
.info-1 .small-text,
.info-2 .small-text,
.info-3 .small-text {
	font-size: 40px;
	text-align: center;
}
.inspiring-quote {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e5e7eb;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.inspiring-text {
	display: flex;
	max-width: 50vw;
	font-size: 36px;
	color: #1f2937;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}
.author-quote {
	font-size: 25px;
	font-weight: 900;
	margin-bottom: 50px;
	margin-top: 0;
	padding-bottom: 50px;
	display: flex;
	width: 800px;
	justify-content: flex-end;

}
.call-to-action {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cta-container {
	display: flex;
	justify-content: space-around;
	width: 1600px;
	background-color: #3882f6;
	border-radius: 10px;
	padding: 50px 100px;
	margin-bottom: 80px;
}
.action-container {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 50px;
}
.big-action-text {
	color: #fff;
	font-size: 30px;
	font-weight: 900;
}
.small-action-text {
	color: #e5e7eb;
}
.cta-button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.action-button {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 900;
	background-color: #3882f6;
	padding: 10px 30px;
	cursor: pointer;
}

footer {

	display: flex;
	justify-content: center;
	background-color: #1f2937;
	color: #e5e7eb;
	padding-top: 50px;
	padding-bottom: 50px;
}



