/* styles.css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: black;
}

body {
	font-family: Roboto, sans-serif;
	margin: 0 100px;
	background-color: #fff;
}
.header-nav {
	display: flex;
	background-color: #1f2937;
	justify-content: space-between;
	padding: 50px 150px;
}
.header-nav h3 {
	font-size: 24px;
	color: #faf9f8;
}
.header-nav a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
	cursor: pointer;
}
.header-nav ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
}
.hero-container {
	display: flex;
	justify-content: center;
	background-color: #1f2937;
	padding: 50px 150px;
	gap: 200px;

}
.hero-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.hero-text p {
	font-size: 18px;
	color: #e5e7eb;
	padding: 20px 100px 10px 0;
	line-height: 1.5;
}
.hero-text h1 {
	font-size: 48px;
	background-color: #1f2937;
	color: #f9faf8;
	font-weight: 900;
	padding-top: 10px;
}
.hero-button {
	background-color: #3882f6;
	color: #fff;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	font-size: 20px;
	font-weight: 800;
	margin-top: 20px;
}
.hero-image img{
	height: 400px;
	width: 600px;
	border-radius: 4px;
}
.info-container {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 100px;
}
.info img {
	width: 430px;
	height: 250px;
	border-radius: 4px;
}
.info-header {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.info-text {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-top: 5px;
}
.quote-container {
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quote {
	max-width: 900px;
	font-size: 36px;
	font-weight: 300;
	color: #1f2937;
	margin-top: 100px;
	
}
.cite {
	color: #000;
	font-size: 26px;
	font-weight: 500;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-bottom: 100px;
}
.action-container {
	display: flex;
	justify-content: space-around;
	background-color: #3882f6;
	color: #fff;
	width: 1600px;
	border-radius: 10px;
	margin: 100px auto;
}
.cta-text {
	display: flex;
	flex-direction: column;
	padding: 75px 50px;
}
.cta-text h3 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.cta-text p {
	font-size: 24px;
	font-weight: 300;
}
.cta-button {
	display: flex;
	align-items: center;
}
.action-button {
	font-size: 24px;
	font-weight: 900;
	width: 150px;
	height: 50px;
	background-color: #3882f6;
	color: #fff;
	border-radius: 10px;
	border: 3px solid #fff;
}
footer {
	background-color: #1f2937;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	padding-top: 50px;
	padding-bottom: 50px;
}

